.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4d3d6;
  position: relative;
  overflow: hidden;
}

/* HEARTS */
.hearts {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.heart {
  position: absolute;
  top: -10%;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.8;
}

/* FALL ANIMATION */
@keyframes fall {
  0% {
    transform: translateY(-100px) translateX(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) translateX(30px);
    opacity: 0;
  }
}

/* ENVELOPE WRAPPER */
.wrapper {
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

/* ENVELOPE */
.envelope {
  width: 300px;
  height: 180px;
  background: #f48b94;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* FLAP */
.flap {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f07a85;
  clip-path: polygon(0 0, 100% 0, 50% 55%);
}

/* CENTER ICON */
.circle {
  position: absolute;
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

/* TEXT */
.text {
  margin-top: 20px;
  color: #ff4d6d;
  font-size: 16px;
}

/* LETTER */
.letter {
  background: white;
  padding: 35px;
  width: 320px;
  border-radius: 12px;
  text-align: center;
  animation: fadeUp 0.5s ease;
  z-index: 2;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.letter h2 {
  color: #ff4d6d;
  margin-bottom: 10px;
}

.letter p {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}

.letter button {
  margin-top: 20px;
  padding: 12px 25px;
  background: #ff4d6d;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/* ANIMATION */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
